<%- include('header') -%>



     <div class="center">
       <nav class="navbar navbar-expand-lg navbar-transparent navbar-light ">
         <img src="/bank-logo.jpg" class="bank-logo" alt="..." />

         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="/">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/customer">Customers</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/transaction">Previous Transaction</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="https://www.thesparksfoundationsingapore.org/">About Us</a>
             </li>
           </ul>
         </div>
       </nav>
       <img class="bank_img" src="/bank2.jpg" alt="...">
       <div class="main ">

         <div class="low">
           <img class = "user_image" src="/user.png" alt="...">
             <a type="button" style="margin:5px" class="btn btn-primary btn-lg" href="/customer">Customers</a>
             <a type="button" style="margin:5px" class="btn btn-primary btn-lg" href="/transaction">Transactions</a>
         </div>

       </div>
     </div>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


<%- include('footer') -%>
