
<%- include('header') -%>



<div class="tran_main">
  <div class="card" style="width: 18rem;">
    <img src="/tick.jpg" class="card-img-top" alt="...">
    <div class="card-body" style="text-align:center">
      <h5 class="card-title">Transaction is successfully completed</h5>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
  </div>
</div>

<%-include('footer') -%>
